<div class="container">
  <!-- Tasks Section -->
  <h2 class="section-title">Tasks</h2>

  <div class="button-row">
    <button 
    class="add-button"
    color="primary" 
    (click)="addTask()">add task</button>
  </div>

  <mat-table [dataSource]="dataSource" class="tasks-table" matSort>

    <!-- Define task columns -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
      <mat-cell *matCellDef="let task">{{ task.name }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Description</mat-header-cell>
      <mat-cell *matCellDef="let task">{{ task.description }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="deadline">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Deadline</mat-header-cell>
      <mat-cell *matCellDef="let task">{{ task.deadline }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="category">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Category</mat-header-cell>
      <mat-cell *matCellDef="let task">{{ getCategoryName(task.categoryId) }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let task" class="action-buttons">
        <button class="delete-button" (click)="deleteTask(task.taskId)">
          delete
        </button>

        <button class="edit-button" (click)="updateTask(task.taskId)">
          edit
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="['name', 'description', 'deadline', 'category', 'actions']"></mat-header-row>
    <mat-row *matRowDef="let row; columns: ['name', 'description', 'deadline','category', 'actions'];"></mat-row>

  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons>
  </mat-paginator>
</div>
